@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src:
      local("Lato-Regular"),
      url("/assets/fonts/Lato-Regular.ttf") format("truetype"),
  }

:root{
    font-size: 5vw;
    font-family: Lato, sans-serif;
    color: var(--font-color);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.304);
}


.nickName{
    font-weight: 700;
}